In [1]:
import pandas as pd

In [44]:
df=pd.read_csv('player_info.csv')
df

,Unnamed: 0,player_name,team,birthday,position
0,0,Daniel Adu-Adjei,AFC Bournemouth,21/06/2005,FW
1,1,Jaidon Anthony,AFC Bournemouth,01/12/1999,FW
2,2,Philip Billing,AFC Bournemouth,11/06/1996,MF
3,3,David Brooks,AFC Bournemouth,08/07/1997,FW
4,4,Ryan Christie,AFC Bournemouth,22/02/1995,MF
...,...,...,...,...,...
653,653,Rúben Neves,Wolverhampton Wanderers,13/03/1997,MF
654,654,Matija Šarkić,Wolverhampton Wanderers,23/07/1997,GK
655,655,Jackson Smith,Wolverhampton Wanderers,14/10/2001,GK
656,656,Toti,Wolverhampton Wanderers,16/01/1999,DF
657,657,Boubacar Traoré,Wolverhampton Wanderers,20/08/2001,MF

In [43]:
df=pd.read_csv('player_info.csv')
df

,Unnamed: 0,player_name,team,birthday,position
0,0,Daniel Adu-Adjei,AFC Bournemouth,21/06/2005,FW
1,1,Jaidon Anthony,AFC Bournemouth,01/12/1999,FW
2,2,Philip Billing,AFC Bournemouth,11/06/1996,MF
3,3,David Brooks,AFC Bournemouth,08/07/1997,FW
4,4,Ryan Christie,AFC Bournemouth,22/02/1995,MF
...,...,...,...,...,...
653,653,Rúben Neves,Wolverhampton Wanderers,13/03/1997,MF
654,654,Matija Šarkić,Wolverhampton Wanderers,23/07/1997,GK
655,655,Jackson Smith,Wolverhampton Wanderers,14/10/2001,GK
656,656,Toti,Wolverhampton Wanderers,16/01/1999,DF
657,657,Boubacar Traoré,Wolverhampton Wanderers,20/08/2001,MF

In [5]:
df=pd.read_csv('player_info.csv')
df

,Unnamed: 0,player_name,team,birthday,position
0,0,Daniel Adu-Adjei,AFC Bournemouth,21/06/2005,FW
1,1,Jaidon Anthony,AFC Bournemouth,01/12/1999,FW
2,2,Philip Billing,AFC Bournemouth,11/06/1996,MF
3,3,David Brooks,AFC Bournemouth,08/07/1997,FW
4,4,Ryan Christie,AFC Bournemouth,22/02/1995,MF
...,...,...,...,...,...
653,653,Rúben Neves,Wolverhampton Wanderers,13/03/1997,MF
654,654,Matija Šarkić,Wolverhampton Wanderers,23/07/1997,GK
655,655,Jackson Smith,Wolverhampton Wanderers,14/10/2001,GK
656,656,Toti,Wolverhampton Wanderers,16/01/1999,DF
657,657,Boubacar Traoré,Wolverhampton Wanderers,20/08/2001,MF

In [6]:
len(df) #it shows length or total records of file

658

In [8]:
df.head(5) # it gives 5 records from top

   Unnamed: 0       player_name             team    birthday position
0           0  Daniel Adu-Adjei  AFC Bournemouth  21/06/2005       FW
1           1    Jaidon Anthony  AFC Bournemouth  01/12/1999       FW
2           2    Philip Billing  AFC Bournemouth  11/06/1996       MF
3           3      David Brooks  AFC Bournemouth  08/07/1997       FW
4           4     Ryan Christie  AFC Bournemouth  22/02/1995       MF

In [9]:
df.tail(5) #it gives 5 records from bottom

     Unnamed: 0      player_name                     team    birthday position
653         653      Rúben Neves  Wolverhampton Wanderers  13/03/1997       MF
654         654    Matija Šarkić  Wolverhampton Wanderers  23/07/1997       GK
655         655    Jackson Smith  Wolverhampton Wanderers  14/10/2001       GK
656         656             Toti  Wolverhampton Wanderers  16/01/1999       DF
657         657  Boubacar Traoré  Wolverhampton Wanderers  20/08/2001       MF

In [17]:
df.query("player_name == 'Toti' ") # it gives records of toti

     Unnamed: 0 player_name                     team    birthday position
656         656        Toti  Wolverhampton Wanderers  16/01/1999       DF

In [20]:
df.query("team == 'Chelsea FC' ") # it gives records of chelsea team

     Unnamed: 0                player_name        team    birthday position
162         162  Pierre-Emerick Aubameyang  Chelsea FC  18/06/1989       FW
163         163                Azpilicueta  Chelsea FC  28/08/1989       DF
164         164          Marcus Bettinelli  Chelsea FC  24/05/1992       GK
165         165              Armando Broja  Chelsea FC  10/09/2001       FW
166         166            Trevoh Chalobah  Chelsea FC  05/07/1999       DF
167         167               Ben Chilwell  Chelsea FC  21/12/1996       DF
168         168         Carney Chukwuemeka  Chelsea FC  20/10/2003       MF
169         169                  Cucurella  Chelsea FC  22/07/1998       DF
170         170               David Fofana  Chelsea FC  22/12/2002       FW
171         171              Wesley Fofana  Chelsea FC  17/12/2000       DF
172         172            Conor Gallagher  Chelsea FC  06/02/2000       MF
173         173                 Lewis Hall  Chelsea FC  08/09/2004       MF
174         174                Kai Havertz  Chelsea FC  11/06/1999       FW
175         175           Bashir Humphreys  Chelsea FC  15/03/2003       DF
176         176           Omari Hutchinson  Chelsea FC  29/10/2003       MF
177         177                Reece James  Chelsea FC  08/12/1999       DF
178         178                   Jorginho  Chelsea FC  20/12/1991       MF
179         179               N'Golo Kanté  Chelsea FC  29/03/1991       MF
180         180                       Kepa  Chelsea FC  03/10/1994       GK
181         181          Kalidou Koulibaly  Chelsea FC  20/06/1991       DF
182         182              Mateo Kovačić  Chelsea FC  06/05/1994       MF
183         183         Ruben Loftus-Cheek  Chelsea FC  23/01/1996       MF
184         184              Edouard Mendy  Chelsea FC  01/03/1992       GK
185         185                Mason Mount  Chelsea FC  10/01/1999       MF
186         186          Christian Pulišić  Chelsea FC  18/09/1998       FW
187         187            Gabriel Slonina  Chelsea FC  15/05/2004       GK
188         188            Raheem Sterling  Chelsea FC  08/12/1994       FW
189         189               Thiago Silva  Chelsea FC  22/09/1984       DF
190         190              Denis Zakaria  Chelsea FC  20/11/1996       MF
191         191               Hakim Ziyech  Chelsea FC  19/03/1993       FW

In [21]:
df.query("team == 'Chelsea FC' ").tail(5) #it gives 5 record of chelsea players from bottom

     Unnamed: 0      player_name        team    birthday position
187         187  Gabriel Slonina  Chelsea FC  15/05/2004       GK
188         188  Raheem Sterling  Chelsea FC  08/12/1994       FW
189         189     Thiago Silva  Chelsea FC  22/09/1984       DF
190         190    Denis Zakaria  Chelsea FC  20/11/1996       MF
191         191     Hakim Ziyech  Chelsea FC  19/03/1993       FW

In [22]:
df.query("team == 'Manchester City' ").tail(5)  #it gives 5 record of man.city players from bottom

     Unnamed: 0          player_name             team    birthday position
419         419           Rúben Dias  Manchester City  14/05/1997       DF
420         420         Sergio Gómez  Manchester City  04/09/2000       DF
421         421          John Stones  Manchester City  28/05/1994       DF
422         422          Kyle Walker  Manchester City  28/05/1990       DF
423         423  Josh Wilson-Esbrand  Manchester City  26/12/2002       DF

In [23]:
df.loc[0] # it gives 1st record

Unnamed: 0                    0
player_name    Daniel Adu-Adjei
team            AFC Bournemouth
birthday             21/06/2005
position                     FW
Name: 0, dtype: object

In [25]:
df.loc[[300,344]] # it gives 301 and 345th record

     Unnamed: 0   player_name            team    birthday position
300         300   Cody Drameh    Leeds United  08/12/2001       DF
344         344  James Justin  Leicester City  23/02/1998       DF

In [26]:
df.iloc[300:344] # it gives record from 300th location to 343 location

     Unnamed: 0            player_name            team    birthday position
300         300            Cody Drameh    Leeds United  08/12/2001       DF
301         301           Adam Forshaw    Leeds United  08/10/1991       MF
302         302           Joe Gelhardt    Leeds United  04/05/2002       FW
303         303        Wilfried Gnonto    Leeds United  05/11/2003       FW
304         304            Archie Gray    Leeds United  12/03/2006       MF
305         305          Sam Greenwood    Leeds United  26/01/2002       FW
306         306            Darko Gyabi    Leeds United  18/02/2004       MF
307         307          Jack Harrison    Leeds United  20/11/1996       MF
308         308             Leo Hjelde    Leeds United  26/08/2003       DF
309         309                   Joel    Leeds United  17/06/1990       GK
310         310           Junior Firpo    Leeds United  22/08/1996       DF
311         311    Kristoffer Klaesson    Leeds United  27/11/2000       GK
312         312          Mateusz Klich    Leeds United  13/06/1990       MF
313         313             Robin Koch    Leeds United  17/07/1996       DF
314         314      Rasmus Kristensen    Leeds United  11/07/1997       DF
315         315               Llorente    Leeds United  16/08/1993       DF
316         316              Marc Roca    Leeds United  26/11/1996       MF
317         317        Mateo Fernández    Leeds United  19/10/2003       FW
318         318        Alfie McCalmont    Leeds United  25/03/2000       MF
319         319          Illan Meslier    Leeds United  02/03/2000       GK
320         320           Amari Miller    Leeds United  04/11/2002       FW
321         321             Kris Moore    Leeds United  13/11/2003       DF
322         322          Sonny Perkins    Leeds United  10/02/2004       MF
323         323                Rodrigo    Leeds United  06/03/1991       FW
324         324        Luis Sinisterra    Leeds United  17/06/1999       MF
325         325            Joe Snowdon    Leeds United  14/02/2004       MF
326         326         Pascal Struijk    Leeds United  11/08/1999       DF
327         327  Crysencio Summerville    Leeds United  30/10/2001       MF
328         328              Max Wöber    Leeds United  04/02/1998       DF
329         329        Marc Albrighton  Leicester City  18/11/1989       MF
330         330             Will Alves  Leicester City  04/05/2005       MF
331         331         Daniel Amartey  Leicester City  21/12/1994       DF
332         332            Ayoze Pérez  Leicester City  29/07/1993       FW
333         333          Harvey Barnes  Leicester City  09/12/1997       MF
334         334          Ryan Bertrand  Leicester City  05/08/1989       DF
335         335       Sammy Braybrooke  Leicester City  12/03/2004       MF
336         336            Lewis Brunt  Leicester City  06/11/2000       MF
337         337       Timothy Castagne  Leicester City  05/12/1995       DF
338         338            Patson Daka  Leicester City  09/10/1998       FW
339         339  Kiernan Dewsbury-Hall  Leicester City  06/09/1998       MF
340         340            Jonny Evans  Leicester City  03/01/1988       DF
341         341              Wout Faes  Leicester City  03/04/1998       DF
342         342      Kelechi Iheanacho  Leicester City  03/10/1996       FW
343         343         Daniel Iversen  Leicester City  19/07/1997       GK

In [27]:
df['team'].replace("Manchester City","man city") it replaces the value

0              AFC Bournemouth
1              AFC Bournemouth
2              AFC Bournemouth
3              AFC Bournemouth
4              AFC Bournemouth
                ...
653    Wolverhampton Wanderers
654    Wolverhampton Wanderers
655    Wolverhampton Wanderers
656    Wolverhampton Wanderers
657    Wolverhampton Wanderers
Name: team, Length: 658, dtype: object

In [33]:
df.query("team ==  'Manchester City' ").head(5) # it gives top 5 records of man city players

     Unnamed: 0     player_name             team    birthday position
397         397   Manuel Akanji  Manchester City  19/07/1995       DF
398         398      Nathan Aké  Manchester City  18/02/1995       DF
399         399  Julián Álvarez  Manchester City  31/01/2000       FW
400         400  Bernardo Silva  Manchester City  10/08/1994       MF
401         401    Scott Carson  Manchester City  03/09/1985       GK

In [39]:
df.columns

Index(['Unnamed: 0', 'player_name', 'team', 'birthday', 'position'], dtype='object')

In [40]:
df.shape

(658, 5)